head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')

  block head
  title= pageTitle || ''
  meta(name='description' content=pageDescription || '')
  meta(name='keywords' content=pageKeywords || '')
  meta(name='msapplication-tap-highlight' content='no')
  meta(name='format-detection' content='telephone=no')
  link(rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png")
  link(rel="manifest" href="assets/images/favicon/site.webmanifest")
  link(rel="mask-icon" href="assets/images/favicon/safari-pinned-tab.svg" color="#5b9ad5")
  link(rel="shortcut icon" href="assets/images/favicon/favicon.ico")
  meta(name="msapplication-TileColor" content="#2d89ef")
  meta(name="msapplication-config" content="assets/images/favicon/browserconfig.xml")
  meta(name="theme-color" content="#ffffff")

  link(href=`assets/styles/vendor.min.css?v=${Date.now()}` rel='stylesheet')
  link(href=`assets/styles/style.min.css?v=${Date.now()}` rel='stylesheet')

